.container {
  position: relative;
}

.l_events {
  position: absolute;
  right: 10px;
  bottom: -80px;
}

.container h3 {
  position: relative;
  top: 5;
  border-bottom: none;

}

.howitworks{
  justify-items: center;
}
.showup-works {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  space-between: none;
}


.container h2 {
 font-family: 'Roboto', sans-serif;
  color: #0A2463;
  margin-top: 15px;
  border-bottom-style: solid;
  border-bottom-color: #E62E2D;
  text-align: center;
}

.container h3 {
  text-align: left;
}
.banner.mb-5 {
  color: white;
}

 h4 {
  color: #0A2463;
  margin-top: 15px;
}

.bannertext {
  font-weight: bolder;
  color: white;
  text-align: left;
}
