<!-- Button trigger modal -->
<button type="button" id="paymentModal" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" style="display: none">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row py-4">
            <div class="col-md-3"><%#= image_tag @order.teddy.photo_url, width: '100%' %></div>
            <div class="col">
              <h1>Checkout summary</h1>
              <p>Purchase of <strong><%= event.title %></strong> for <strong><%= humanized_money_with_symbol event.stake %></strong></p>
              <button id="pay" class="btn btn-primary">Pay</button>
              <script src="https://js.stripe.com/v3/"></script>
              <script>
                const paymentButton = document.getElementById('pay');
                paymentButton.addEventListener('click', () => {
                  const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
                  stripe.redirectToCheckout({
                    sessionId: '<%= event.orders.where(user_id: current_user.id).checkout_session_id %>'
                  });
                });
              </script>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
