<div class="container">
  <%= render 'search_bar' %>
  <h1>All events</h1>
  <div class="row">
    <% @events.each do |event| %>
      <div class="home-cards col-sm-4">
        <%= render "events/event_card", event: event %>
      </div>
    <% end %>
  </div>
</div>

<%= link_to 'End of the event', event_event_over_path(@event), method: :patch, class: 'btn btn-primary' %>
