<% banner_url = image_url("banerprop1.jpg") %>
<div class="banner mb-5" style="background-image: url(<%= banner_url %>), linear-gradient(to bottom, rgba(0,0,0,0.4),rgba(255,255,255,0.4)); background-position: bottom -100px right 0px">
  <div class="container">
    <h3><strong>Boost attendence for your free events<stron></h3>
    <p>By using stake, Showup incentivizes a higher attendance rate to your free events</p>

    <% if !current_user %>
      <%= link_to 'Start now', new_user_registration_path, class: "btn btn-flat" %>
    <% end %>
  </div>
</div>

  <div class="container">
      <h2 class="howitworks"> This is how show-up works</h2>
        <div class="home-cards col-sm">
          <%= image_tag 'pain.png' %>
            <p>this image will be replace by Guillaume</p>
            <p>We will also provide information here in writing</p>
        </div>
<div class="container">
  <div class="row">
    <% Event.all.sample(3).each do |event| %>
      <div class="home-cards col-sm-4">
        <%= render "events/event_card", event: event %>
      </div>
    <% end %>
  </div>
</div>

