<div class="banner mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://img.nh-hotels.net/nh_meetings-small_meeting_room.jpg?crop=8244:2476;12,1179&resize=2000:600&output-quality=75&resize=*:*);">
  <div class="container">
    <h1><strong>Show up</strong></h1>
    <h3>My milkshake brings all the attendees to the yard</h3>
    <% if !current_user %>
      <%= link_to 'Start now', new_user_registration_path, class: "btn btn-flat" %>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="row">
    <% Event.all.sample(3).each do |event| %>
      <div class="home-cards col-sm">
        <%= render "events/event_card", event: event %>
      </div>
    <% end %>
  </div>
</div>
