<div class="container my-5 search-form">
  <div class="title">
    <h3>Search for tickets</h3>
  </div>
  <div class="hz">
    <%= simple_form_for :search, url: event_tickets_path(@event), method: "GET", html: { class: 'form-inline' } do |f| %>
        <%= f.input :name, input_html: {value: ""}, required: false, label: false %>
        <%= f.submit "Search", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
