<!-- <div class="container">
  <h1>Create a ticket</h1>
  <%#= simple_form_for @event do |f| %>
  <%#= f.input :title, label: 'Specify your title', error: 'title is mandatory, specify one'%>
  <%#= f.button :submit %>
<%# end %>
</div>
 -->
