<div class="container">
  <div class="row py-4">
    <div class="col-md-3"><%#= image_tag @order.teddy.photo_url, width: '100%' %></div>
    <div class="col">
      <h1>Stake confirmation</h1>
      <p>You will be debited <strong>€ <%= @order.amount %></strong>  in case you <strong> do not</strong> show up at <strong><%= @order.event.title %></strong></p>
      <button id="pay" class="btn btn-primary">Confirm</button>
      <script src="https://js.stripe.com/v3/"></script>
      <script>
        const paymentButton = document.getElementById('pay');
        paymentButton.addEventListener('click', () => {
          const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
          stripe.redirectToCheckout({
            sessionId: '<%= @order.checkout_session_id %>'
          });
        });
      </script>
    </div>
  </div>
</div>
