<div class="container">

  <% %>
    <h3>Upcoming events</h3>
    <% @future_events.each do |event|  %>
      <%= render "./events/event_card", event: event %>
    <% end %>
    <h3> Past Events </h3>
    <% @past_events.each do |event| %>
      <%= render "./events/event_card", event: event %>
  <% end %>

  <div class="mb-5">
    <%= link_to "All events", events_path, class: 'btn btn-primary' %>
    <% if current_user.organizer? %>
      <%= link_to "Create a new event", new_event_path, class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
