<div class="container">
  <h1>My dashboard</h1>

  <% if @user.organizer? %>
    <h3>My events</h3>
    <% @user.organized_events.each do |event|  %>
      <%= render "./events/event_card", event: event %>
    <% end %>
  <% elsif @user.attendee? %>
    <h3>Events you attend for</h3>
    <% @user.attending_events.each do |event| %>
      <%= render "./events/event_card", event: event %>
    <% end %>
  <% end %>

  <div class="mb-5">
    <%= link_to "All events", events_path, class: 'btn btn-primary' %>
    <% if current_user.organizer? %>
      <%= link_to "Create a new event", new_event_path, class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
