.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner {
  .event-show h1 {
    font-size: 100px;
  }
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner h3 {
  color: white;
  font-size: 42px;
  -webkit-text-stroke: 1px black
}

.banner p {
  font-size: 20px;
  color: white;
  //opacity: .7;
  text-shadow: 2px 2px 4px #000000;
  -webkit-text-stroke: 1px black
}
