.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}

.btn-primary {
  background-color: #0A2463;
  opacity: 0.9;
  transition: 0.5s;
  border-radius:7px;
  &:hover {
  background-color: #0A2463;
  opacity: 1;
  color:#E62E2D;
  }
}

.same-line {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.button-right {
  margin-left: 30px;
  .btn-primary {
    background-color: red;
    border: none;
    color: white;
    opacity: 0.6;
    transition: 0s;
    font-size: 18px;
    &:hover {
      opacity: 1;
    }
  }
}
