.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 7px;

}


.card-trip > img {
  height: 175px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  .details-trip{
    width: 100%;
    display: grid;
    grid-gap: 7px;
  }
  i{
    font-size: 1.2vw;
  }
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
.card {
  a {
  text-decoration: none;
  color: black;
  }
  flex-grow: none;
  border-radius: 7px;
}
.card:hover {
  transform: scale(1.02);
}

.home-cards {
  .card {
    width: 350px;
  }

  .card img {
    // width: 350px;
    // height: 175px;
  }
}

.fas {
  font-size: 30px;
}

.far {
  font-size: 30px;
}

.fa-map-marker-alt {
  color: blue;
}

.fa-times-circle {
  color: red;
}

.fa-check {
  font-size: 14px;
  color: green;
}

.fa-undo-alt {
  font-size:20px;
}

.fa-surprise {
  color: blue;
}

.fa-arrow-right {
  font-size: 15px;
}
