.shadow-container {
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: white;
  box-shadow: 1px 1px 5px lightgrey;
  border-radius: 5px;


}

.top-line {
  display: grid;
  grid-template-columns: 700px auto;
  grid-template-rows: 350px;
}

// .event_details_image img {
//   // height: 175px;
//   width: 100%;
//   object-fit: cover;
// }

.event_details_image {
  margin-top:15px;
  background-repeat: none;
  background-size: cover;

}

.info-popup {
  font-size: 14px;
}

.title {
  font-size: 20px;
  font-weight: 600;
}

.description {
  padding-left: 15px;
  padding-top: 10px;
  position: relative;
}

.countdown {
  margin: 0px;
  padding-left: 5px;
  font-size: 14px;
}

.bottom-line {
  background-color: white;
  display: grid;
  grid-template-columns: 700px auto;
}

.description-and-share {
  word-break: break-word;
  text-align: justify;
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px;

}
.description-and-share h4 {
  text-align: left;
  border-bottom-style: none;
  }

.practical-info {
  padding-left: 15px;
  padding-top: 10px;
}
.practical-info h4 {
   text-align: left;
  border-bottom-style: none;
}

.button-and-text {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 10px;
}

.stake-info {
  position: absolute;
  bottom: 50px;
}

#demo {
  margin: 0px;
  // padding-left: 5px;
}

.pi-far {
  font-size: 16px;
  color: #0A2463;
}


h2, h3{
 font-family: 'Roboto', sans-serif;
  color: #0A2463;
  margin-top: 15px;
}

