.top-line {
  display: grid;
  grid-template-columns: 700px auto;
  grid-template-rows: 350px;
}

// .event_details_image img {
//   // height: 175px;
//   width: 100%;
//   object-fit: cover;
// }

.event_details_image {
  background-repeat: none;
  background-size: cover;

}

.info-popup {
  font-size: 14px;
}

.title {
  font-size: 20px;
  font-weight: 600;
}

.description {
  padding-left: 15px;
  padding-top: 10px;
  position: relative;
}

.countdown {
  margin: 0px;
  padding-left: 5px;
  font-size: 14px;
}

.bottom-line {
  background-color: white;
  display: grid;
  grid-template-columns: 700px auto;
}

.description-and-share {
  word-break: break-all;
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 50px;
}

.practical-info {
  padding-left: 15px;
  padding-top: 10px;
}


.button-and-text {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 10px;
}

.stake-info {
  position: absolute;
  bottom: 50px;
}

#demo {
  margin: 0px;
  // padding-left: 5px;
}

.pi-far {
  font-size: 16px;
  color: #0A2463;
}


