.navbar-lewagon {
  justify-content: space-between;
  background: #0A2463;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.interactive_bar {
   position: sticky;
   top: 0;
   z-index: 100;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
  height: auto;
}

.btn_nav{
  position:absolute;
  right: 10px;
}

.active_nav {
    color: white !important;
    text-decoration: none;
    border-bottom: 2px solid #E62E2D;
    transition: all ease-in-out 100ms;
    font-weight: 550;
}

.login_hover{
  color: #D8D8D8;
  margin: 0px 10px;
  padding: 24px;
  font-size: 18px;
  &:hover{
    color: white;
    text-decoration: none;
    border-bottom: 2px solid #E62E2D;
    transition: all ease-in-out 100ms;
    font-weight: 550;
  }

  .fas{
    font-size: 18px;
  }
  span{
    padding: 2px;

  }
}

.navnav {
  position: relative;
}

.left {
  position: absolute;
  left: 80px;
  top: -6px;
}

.left-2 {
  position: absolute;
  left: 300px;
  top: -6px;
}

.nav-item{

  width:60px;
  height:60px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  z-index:1;
}

a {
    color:#1d1d1d;
    text-decoration:none;
}
a:hover, a.active {
    text-decoration:underline;
}

.interactive_bar a:active {
  text-decoration: underline;
  color: white;
}

.navbar-left {
      align-items: center;
}

// .dropdown img {
//   width: 60px;
//   height: 60px;
// }

.avatar.dropdown-toggle {
  width: 60px;
  height: 60px;
  border-color: white;
  border-style: solid;
  border-width: 2px;
  transition: 0.5s;
    &:hover{
    border-color: #E62E2D;
  }
}

